venv/
__pycache__/
*.pyc

.env

uploads/extracted_repo/
uploads/github_repo/
uploads/repository.zip

reports/
*.pdf

temp_repo/

assets/*.tmp

.git/

*.log

uploads/*.zip

.history/

.streamlit/

.DS_Store
